* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#cabecera{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
    z-index: 1000;
    top: 0;
    background: white;
    position: fixed;
}
#vidalibre{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 22px;
    margin-right: auto;
}
#menu{
    display: flex;
    align-items: center;
    gap: 25px;
}

#menu a{
    text-decoration: none;
    font-size: 18px;
}
.rojo{
    background: #ff4b4b;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
}
.rojo:hover{
    background-color: #960000;
    cursor: pointer;
}
.rojo:active{
    background-color: #7d0000;
    cursor: pointer;
}
.blanco{
    background-color: transparent;
    color: #000000;
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 18px;
}
.blanco:hover{
    background-color: #e7e7e7;
    cursor: pointer;
}
.blanco:active{
    background-color: #bcbbbb;
    cursor: pointer;
}
.hamburguesa{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
@media (max-width: 900px) {
    #menu {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        width: 200px;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0 20px 35px rgba(132, 0, 255, 0.1), 0 5px 15px rgba(174, 0, 255, 0.1);
    }
    .hamburguesa{
        display: block;
        color: #7d20ff;
        margin-left: auto;
    }
    #menu a{
        padding: 10px 0;
    }
}


#debajodecabecera{
    margin-top: 70px;
    width: 100%;
    padding: 120px 20px;
    text-align: center;
    background: #a43af7;
    color: white;
}
#debajodecabecera div h1{
    margin-top: 50px;
    font-size: 50px;
}
#debajodecabecera div p{
    margin-bottom: 50px;
}
#debajodecabecera div button{
    margin-bottom: 50px;
}
.morado{
    color: #9b4dfa;
}
.botonmorado{
    background-color: #9b4dfa;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(253, 251, 255, 0.8);
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin-left: 40px;
}
.botonmorado:hover{
    background-color: #ffffff;
    cursor: pointer;
    color: #9b4dfa;
}
.botonmorado:active{
    background-color: #bcbbbb;
    cursor: pointer;
    color: #9b4dfa;
}
.botonblanco{
    background-color: rgb(255, 255, 255);
    color: #9b4dfa;
    border: 1px solid #9b4dfa;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin-left: 40px;
}
.botonblanco:hover{
    background-color: #e7e7e7;
    cursor: pointer;
}
.botonblanco:active{
    background-color: #bcbbbb;
    cursor: pointer;
}


.cuadradosapaginas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cuadradosapaginas button{
    flex-grow: 1;
    flex-basis: 300px;
    text-align: left;
    width: 250px;
    box-shadow: 0 0px 4px rgba(90, 89, 89, 0.5), -10px 10px 20px rgba(140, 0, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(253, 251, 255, 0.8);
    padding: 20px 85px;
    margin: 10px;
    background-color: white;
    position: relative;
    bottom: 50px;
    height: 200px;
}
.cuadradosapaginas button:hover{
    transform: translateY(-5px);
    box-shadow: 0 0px 8px rgba(90, 89, 89, 0.7), 0px 30px 20px rgba(140, 0, 255, 0.2);
    cursor: pointer;
}
.cuadradosapaginas button:active{
    transform: translateY(5px);
    box-shadow: 0 0px 4px rgba(90, 89, 89, 0.5), -10px 10px 20px rgba(140, 0, 255, 0.1);
}
.cuadradosapaginas button img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}




.infohorarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #9b4dfa;
    color: white;
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;   
}
.infohorarios div{
    flex-grow: 1;
    flex-basis: 200px;
}
.infohorarios div h2{
    font-size: 50px;
    margin-bottom: 5px;
}




#compromiso h1{
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}
#compromisos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#compromisos div{
    flex-grow: 1;
    flex-basis: 200px;
    text-align: center;
    width: 250px;
    box-shadow: 0 0px 4px rgba(90, 89, 89, 0.5), -10px 10px 20px rgba(140, 0, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(253, 251, 255, 0.8);
    padding: 20px 35px;
    justify-content: space-around;
    margin: 10px;
}
#compromisos div img{
    width: 60px;
    height: 50px;
    border-radius: 10px;
}




#pregunta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 120px 20px;
    justify-items: center;
    

}
.preguntacontenido{
    background-color: #a43af7;
    color: white;
    padding: 40px 20px;
    border-radius: 15px;
    width: 90%;
    text-align: center;
    justify-items: center;
}
.texto{
    font-size: 20px;
    line-height: 2.5rem;
}
.preguntacontenido button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #9b4dfa;
    border: 1px solid #9b4dfa;
    height: 50px;
    width: 230px;
    border-radius: 10px;
}
.preguntacontenido button:hover{
    background-color: #e7e7e7;
    cursor: pointer;
}
.preguntacontenido button:active{
    background-color: #bcbbbb;
    cursor: pointer;
}

#piepagina{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #780dfb;
    color: white;
    font-size: 15px;
    margin-top: 100px;
    padding: 30px 40px;
    bottom: 0;
}
